@font-face {
    font-family: 'Montserrat-Bold';
    src: url("../fonts/static/Montserrat-Bold.ttf") format("opentype");
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url("../fonts/static/Montserrat-Regular.ttf") format("opentype");
}
