@use 'fonts';

$primary-color: #000;
$secondary-color: #fff;
$accent-color: #d6d6d633;
$body-text-color: #fff;
$heading-font-family: 'Sunset-Gothic-Pro-Bold';
$body-font-family:'Montserrat-Regular';
$base-font-size: 18px;
$base-font-weight: 400;